<style>
		* {
			margin: 0;
			padding: 0;
		}
	
		body {
			font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
			background: #333;
			margin: 20px;
		}
	
		article {
			width: 600px;
			height: 1000px;
			margin: auto;
			background: #000;
			color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 15px 2px #1abc9c;
			background-image: url("http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg")
		}
	
		section {
			clear: left;
		}
	
		h1 {
			font-size: 45px;
			font-weight: 100;
			letter-spacing: 15px;
			text-align: center;
			
		}

		h1, #main_content, #dog_link {
			padding: 20px;

		}

		h2 {
			font-size: 20px;
			min-height: 100px;
			font: 300 15px/1.5 "Utopia", Utopia, arial, sans-serif;
			background-image: url("http://media.istockphoto.com/photos/hologram-futuristic-interface-city-picture-id512754678?k=6&m=512754678&s=612x612&w=0&h=2UpEmkZXuKv8xU5vO0UlLJPhZ1KYc3O3tV3nZhbdh0Y=");
			background-position: 0% 20%;
			color: #C0C0C0;
			top: 100%

		}
		#main_content, h2 {
			padding: 20px;
			
		}

		p {
			margin: 15px 0;
			text-align: left;
		}
	
		a {
			color: #06c;
		}
	
		#main_nav ul {
			background: silver;
			float: left;
			-webkit-transition: .5s;
			transition: .5s;
		}
	
		#main_nav li {
			float: left;
			position: relative;
			width: 150px;
			list-style: none;
			-webkit-transition: .5s;
			transition: .5s;
		}
	
		#main_nav > ul > h2> li > a, h1 {
			text-transform: uppercase;
		}
	
		#main_nav a {
			display: block;
			text-decoration: none;
			padding: 5px 15px;
			color: #000;
		}

		#main_nav ul ul {
			position: absolute;
			left: 0;
			top: 100%;
			visibility: hidden;
			opacity: 0;
		}
	
		#main_nav ul ul ul {
			left: 100%;
			top: 0;
		}
	
		#main_nav li:hover, #main_nav li:hover li {
			background: #ddd;
		}
	
		#main_nav li li:hover, #main_nav li li:hover li {
			background: #bbb;
		}
	
		#main_nav li li li:hover {
			background: #999;
		}
	
		#main_nav li:hover > ul {
			visibility: visible;
			opacity: 1;
		}
	</style>