/*Stlye page for the google maps*/
/*Needs to edit the overall form of it and inlcude waether bar */


h1 {
	width: 500px;
	height: 45px;
	font-size: 45px;
	font-weight: 100;
	letter-spacing: 10px;
	text-align: left;
	text-transform: uppercase;
	font: 400 20px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
	color: #E03F1B;
	box-shadow: 0 0 6px 2px #1abc9c;
	/*margin: auto;*/
	padding: 20px;

}

body {
	width: 1000px;
	height: 1000px;
	background-size: 750px 650px;
	background-image: url("http://3.bp.blogspot.com/-aZ9F32711A8/UWTbnzOh44I/AAAAAAAAN_I/hq60ViQn1jg/s1600/clark-little-photographs-very-big-waves-as-they-crash-to-shore-north-shore-hawaii-shorebreak-wave-photography-the-flying-tortoise-006.jpg");
	background-repeat: no-repeat;
	bottom: 50%;
}

div{
	margin:left;
	width: 400px;
	height: 400px;
}